@charset "utf-8";


@media only screen and (max-width: 1920px) and (min-width: 1920px){
	.container {
		display: block;
		width: 1150px;
		margin:0 auto;
	
	}
	#main .top
	 {
		width: 90%;
		margin: 1em auto 0 auto;
		background: gray;
		height: 2.6em;
		border-radius:15px;
	}
	#main .left:hover, .right:hover {
		background:orange;
		cursor:pointer;
	}
	
	#main .middle {
		background: black;
		width: 60%;
		display: block;
		height: 400px;
		margin:12em auto 0 auto;
		clear: both;
		border-radius:20px;
	
	}
	
	#main .middle:hover
	{
		background:purple;
		cursor:pointer;
		
	}
	
	#main .top .navi {
		width: 100%;
	}
	.left {
		float: left;
		width: 50%;
		padding: .6em 0;
		background: gray;
		margin-bottom:.7rem;
		font-size:2em;
		text-align: center;
		font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		font-style: italic;
	}
	
	.below_1
	{
		display: none;
		position: relative;
		padding: 1.9rem 0;
		background:red;
		
	}
	.below_2
	{
		display: none;
		position: relative;
		padding: 1.5rem 0;
		background:red;
		overflow: hidden;
	}
	
	.left:hover .below_1 
	{
	  border-top:15px solid #23AD37;
	  cursor: pointer;
	  position: relative;
	  background: lightgreen;
	  display:block; 
	  transition: 1s ease-out; 
	  transform: translateY(32px);
	}
		
	.left:hover .below_2 
	{
	  border-top:15px solid #23AD37;
	  cursor: pointer;
	  position: relative;
	  background: lightgreen;
	  display:block; 
	  transition: 1s ease-out; 
	  transform: translateY(20px);
	}
	
	.right {
		float: right;
		width: 50%;
		padding: .6em 0;
		background: gray;
		margin-bottom:.7rem;
		font-size:2em;
		text-align: center;
		font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		font-style: italic;
	}
	
	.below_3
	{
		display: none;
		position: relative;
		padding: 1.9rem 0;
		background:red;
		
	}
	.below_4
	{
		display: none;
		position: relative;
		padding: 1.5rem 0;
		background:red;
		overflow: hidden;
	}
	
	.right:hover .below_3 
	{
	  border-top:15px solid #23AD37;
	  cursor: pointer;
	  position: relative;
	  background: lightgreen;
	  display:block; 
	  transition: 1s ease-out; 
	  transform: translateY(32px);
	}
		
	.right:hover .below_4
	{
	  border-top:15px solid #23AD37;
	  cursor: pointer;
	  position: relative;
	  background: lightgreen;
	  display:block; 
	  transition: 1s ease-out; 
	  transform: translateY(20px);
	}
	.left > .below_1:hover
	{
		border-color:black;
		background:red;
	}
	.left > .below_2:hover
	{
		border-color:black;
		background:red;
	}
	.right > .below_3:hover
	{
		border-color:black;
		background:red;
	}
	.right > .below_4:hover
	{
		border-color:black;
		background:red;
	}
	
	
	.square_1_hiden
	{
		padding: 55px 0;
		width: 150px;
		background: orangered;
		position: absolute;
		left: 615px;
		display: none;
		
	}
	
	
	.square_2_hiden
	{
		padding:55px 0;
		width:150px;
		background: lightseagreen;
		position:absolute;
		left:1155px;
		display:none;
		
	}
	.square_3_hiden
	{
		padding:55px 0;
		width:150px;
		background:lightseagreen;
		position:absolute;
		left:613px;
		top:739px;
		display:none;
		
	}
	.square_4_hiden
	{
		padding:55px 0;
		width:150px;
		background: orangered;
		position:absolute;
		left:1155px;
		top:740px;
		display:none;
		
		
	}
	.middle .content .moving_square {
		padding: 45px 0;
		width: 100px;
		background: red;
		display: none;
		position: absolute;
		bottom: 495px;
		left: 622px;
	}
	p
	{
		font-size:5em;
		text-align: center;
		font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		font-style: italic;
	}
	.click_1_show
	{
		padding:5px;
		font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		font-style:italic;
		font-size:2rem;
		background: black;
		margin:0 auto;
		color:lightcoral;
		text-decoration: none;
		display:block;
		
	}
	.click_1_hide
	{
		padding:5px;
		font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		font-style:italic;
		font-size:2rem;
		background: black;
		margin:5px auto;
		color:lightcoral;
		text-decoration: none;
		display:block;
		
	}
	.click_2_show
	{
		padding:5px;
		font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		font-style:italic;
		font-size:2rem;
		background: black;
		margin:0 auto;
		color:lightcoral;
		text-decoration: none;
		display:block;
		
	}
	.click_2_hide
	{
		padding:5px;
		font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		font-style:italic;
		font-size:2rem;
		background: black;
		margin:5px auto;
		color:lightcoral;
		text-decoration: none;
		display:block;
		
	}	
	.click_3_show
	{
		padding:5px;
		font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		font-style:italic;
		font-size:2rem;
		background: black;
		margin:0 auto;
		color:lightcoral;
		text-decoration: none;
		display:block;
		
	}
	.click_3_hide
	{
		padding:5px;
		font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		font-style:italic;
		font-size:2rem;
		background: black;
		margin:5px auto;
		color:lightcoral;
		text-decoration: none;
		display:block;
		
	}	
	.click_4_show
	{
		padding:5px;
		font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		font-style:italic;
		font-size:2rem;
		background: black;
		margin:0 auto;
		color:lightcoral;
		text-decoration: none;
		display:block;
		
	}
	.click_4_hide
	{
		padding:5px;
		font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		font-style:italic;
		font-size:2rem;
		background: black;
		margin:5px auto;
		color:lightcoral;
		text-decoration: none;
		display:block;
		
	}


}